@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
    
}



// MEDAI QUERY MANAGER //

/*

0-600px:    Phone
600-900px:  Tablet portrait mode
900-1600px: Tablet landscape mode
[1200-1600px]: Desktop - is where our nomral styles apply!


1800px + : Big screen
*/


@mixin respond-phone {
    @media (max-width: 600px) {@content};
}


/* 
    $breakpoint arguement choices::after
    -phone
    -tab-port
    -tab-land
    -big-desktop
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: $bp-small) {@content};
    }
    @if $breakpoint == tab-port {
        @media (max-width: $bp-medium) {@content};
    }
    @if $breakpoint == tab-land {
        @media (max-width: $bp-large) {@content};
    }
    @if $breakpoint == big-desktop {
        @media (min-width: $bp-largest) {@content};
    }
