.row {
    max-width: $grid-width;
    margin: 0 auto;


    @include respond(tab-land) {     // MEDIA QUERY
        max-width: 95rem;
    }


    &:not(:last-child) {
        margin-bottom: $gutter-vertical;

        @include respond(tab-port) {
            margin-bottom: $gutter-vertical-small;    // MEDIA QUERY
        }

    }

    @include clearfix;

    [class^="col-"] {
        float: left;
 
        &:not(:last-child) {
         margin-right: $gutter-horizontal;

         @include respond(tab-port) {
            margin-right: 0;
            margin-bottom: $gutter-vertical-small;    // MEDIA QUERY
        }

        }

        @include respond(tab-port) {
            width: 100% !important;
        }
    }

    .col-1-of-2 {
       width: calc((100% - #{10rem}) / 2);
    }

   
}
