.row {
    max-width: $grid-width;
    margin: 0 auto;
    

    &:not(:last-child) {
        margin-bottom: $gutter-vertical;

        @include respond(tab-port) {
            margin-bottom: $gutter-vertical-small;    // TABLET PORTRAIT MEDIA QUERY
        }

    }

    @include respond(tab-land) {    // TABLET LANDSCAPE MEDIA QUERY
        max-width: 95rem;
    }


    @include respond(tab-port) {     // TABLET PORTRAIT MEDIA QUERY
        max-width: 60rem;
    }

    @include respond(phone) {
        max-width: 48rem;
        
    }

    @include clearfix;
                                                            
    [class^="col-"] {
        float: left;
 
        &:not(:last-child) {
         margin-right: $gutter-horizontal;

            
          @include respond(tab-port) {  // TABLET PORTRAIT MEDIA QUERY
                margin-right: 0;
                 margin-bottom: $gutter-vertical-small;    
        }

        }

        @include respond(tab-port) {  // TABLET PORTRAIT MEDIA QUERY
            width: 100% !important;
        }
    }

    .col-1-of-2 {
       width: calc((100% - #{10rem}) / 2);
    }


}
