.header {
    height: 98vh;
    background-image: linear-gradient(to right bottom , rgba($color-grey-dark-3, .85), rgba($color-grey-dark-3, .85)), url(../img/generic_lattice.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); 
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); 
    position: relative;
    


    @include respond(tab-port) {  // MEDIA QUERY
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); 
        clip-path: polygon(0 0, 100% 0, 100% 83vh, 0 100%); 
}

    &__text-box {
        width: 100%;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -45%);
        text-align: center;
        position: absolute;
    }
    
}