*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;  // -- 10px ! 10px / 16px = 62.5%;
    background-color: $color-white;


    @include respond(tab-land) { // 1rem = 9px; 9px / 16px = 56.25%;  // TABLET LANDSCAPE MEDIA QUERY
        font-size: 56.25%;
    }

    @include respond(tab-port) { // 1rem = 8px; 8px / 16px = 50%;   // TABLET PORTRAIT MEDIA QUERY
        font-size: 50%;
    }

    @include respond(phone) { // 1rem = 7px; 7px / 16px = 43.75%; // MOBILE MEDIA QUERY
        font-size: 43.75%;
    }
 
    @include respond(big-desktop) { // 1rem = 11px; 11px / 16px = 68.75%;  // BIG DESKTOP MEDIA QUERY
        font-size: 68.75%;
    }

}


body {
    box-sizing: border-box;
}
